<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
	<link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/default")" rel="stylesheet" type="text/css" />
    <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/recipe")" rel="stylesheet" type="text/css" />
	<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/default")"></script>
</head>
<body>
    @RenderBody()
</body>
</html>
