@using System.Web.Optimization
@model RecipeEditor.Models.RecipeModel
@{
	ViewBag.Title = @Model.Title;
}
<div id="Recipe">
	<h1>@Model.Title</h1>
	<div class="columnRight">
		<h3>Kategorien</h3>
		<ul>
			@foreach (var category in Model.Categories)
			{
				<li><a href="@category.Url">@category.Name</a></li>
			}
		</ul>
		<h2>Zutaten</h2>
		@foreach (var component in Model.Components)
		{
			<h3>@component.Title</h3>
			<table>
				<tbody>
					@foreach (var ingredient in component.Ingredients)
					{
						<tr class="ingredient">
							<td class="amount">@ingredient.Quantity.Amount</td>
							<td class="unit">@ingredient.Quantity.Unit</td>
							<td class="name"><a href="@ingredient.Ingredient.Url">@ingredient.Ingredient.Name</a></td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
	<div class="columnLeft">
		<img class="photo" src="@if (Model.Image != null)
						  {@Model.Image.Url}
						  else
						  {<text>~/Content/icons/tango/32x32/status/image-missing.png</text>}" alt="recipe"/>
		@if (Model.Image != null)
		{ <div>Foto von @Model.Image.Author</div>	}
		<h2>Zubereitung</h2>
		@foreach (var component in Model.Components)
		{
			<h3>@component.Title</h3>
			<div>@Html.Raw(component.Preparation)</div>
		}
		<div class="menubar">
			<button type="button" onclick="InitRecipeEditor()">bearbeiten</button>
		</div>
	</div>
</div>
<form action="#" id="RecipeEditor" data-bind="with: data" style="display: none;">
	<h1 class="contenteditable" data-bind="text: Title, event: {change: $parent.onUpdateTitle}"></h1>
	<div class="columnRight">
		<h3>Kategorien</h3>
		<ul class="preview" data-bind="foreach: Categories">
			<!-- ko if:!IsEmpty() -->
			<li><a data-bind="text:Name, attr: {href:Url}"></a></li>
			<!-- /ko -->
		</ul>
		<ul class="edit" data-bind="foreach: Categories">
			<li><input type="text" data-bind="value:Name" /></li>
		</ul>
		<h2>Zutaten</h2>
		<!-- ko foreach: Components -->
		<div class="toolbar edit">
			<button type="button" data-bind="event: { click: $root.onRemoveComponent }">
				<img alt="list-remove" src="~/Content/icons/tango/22x22/actions/list-remove.png" />
			</button>
		</div>
		<h3 class="contenteditable" data-bind="text: Title, event: {change: onUpdateTitle}"></h3>
		<table class="preview">
			<tbody data-bind="foreach: Ingredients">
				<!-- ko if:!IsEmpty() -->
				<tr class="ingredient">
					<td class="amount" data-bind="text:Quantity().Amount"></td>
					<td class="unit" data-bind="text:Quantity().Unit"></td>
					<td class="name"><a data-bind="text:Ingredient().Name, attr: {href: Ingredient().Url}"></a></td>
				</tr>
				<!-- /ko -->
			</tbody>
		</table>
		<table class="edit">
			<tbody data-bind="foreach: Ingredients">
				<tr class="ingredient">
					<td class="amount">
						<input type="number" data-bind="value:Quantity().Amount" />
					</td>
					<td class="unit">
						<input type="text" data-bind="value:Quantity().Unit" />
					</td>
					<td class="name">
						<input type="text" data-bind="value:Ingredient().Name" />
					</td>
				</tr>
			</tbody>
		</table>
		<!-- /ko -->
		<div class="toolbar edit">
			<button type="button" data-bind="event: { click: $parent.onAddComponent }">
				<img alt="list-add" src="~/Content/icons/tango/22x22/actions/list-add.png" />
			</button>
		</div>
	</div>
	<div class="columnLeft">
		<img class="photo" alt="recipe" data-bind="attr: {src: Image.Url}" />
		<div>
			Foto von
			<!--ko text: Image.Author-->
			<!--/ko-->
		</div>
		<h2>Zubereitung</h2>
		<!-- ko foreach: Components -->
		<h3 class="contenteditable" data-bind="text: Title, event: {change: onUpdateTitle}"></h3>
		<div class="toolbar forContentEditable edit">
			<button type="button" data-bind="event: { click: onFormatBold }">
				<img src="~/Content/icons/tango/22x22/actions/format-text-bold.png" /></button>
			<button type="button" data-bind="event: { click: onFormatItalic }">
				<img src="~/Content/icons/tango/22x22/actions/format-text-italic.png" /></button>
		</div>
		<div class="contenteditable" data-bind="html: Preparation, event: {change: onUpdatePreparation}">
		</div>
		<!-- /ko -->
		<div class="menubar">
			<div class="preview">
				<button type="button" onclick="ShowRecipeEditor();">bearbeiten</button>
			</div>
			<div class="edit">
				<button type="button" onclick="HideRecipeEditor();">vorschau</button>
				<button type="button" data-bind="event: {click: $parent.onRevert}">
					<img alt="revert" src="~/Content/icons/tango/22x22/actions/edit-undo.png" />
				</button>
				<button type="button" data-bind="event: {click: $parent.onSave}">
					<img alt="save" src="~/Content/icons/tango/22x22/actions/document-save.png" />
				</button>
				<div class="messageLog"></div>
			</div>
		</div>
	</div>
</form>
@Scripts.Render("~/Scripts/recipe")
<script type="text/javascript">
	InitRecipeViewModel(@Html.Raw(Model.Json));
</script>
