@model RecipeEditor.Models.RecipeModel
@{
    ViewBag.Title = @Model.Title;
}
<div id="Recipe">
    <h1>@Model.Title</h1>
    <img src="@if (Model.Image != null) {@Model.Image.Url} else {<text>~/Content/icons/tango/32x32/status/image-missing.png</text>}" alt="recipe"/>
    @if (Model.Image != null) { <div>Foto von @Model.Image.Author</div>	}
    
    Kategorien:
	<ul>
		@foreach(var category in Model.Categories)
		{
			<li>@category</li>
		}
	</ul>
	<h2>Zutaten</h2>
    @foreach(var component in Model.Components)
	{
		<h3>@component.Title</h3>
		<table>
			@foreach (var ingredient in component.Ingredients)
			{
				<tr>
					@if (ingredient.Quantity != null)
					{
						<td>@ingredient.Quantity.Amount</td>
						<td>@ingredient.Quantity.Unit</td>
					}
					else
					{
						<td></td>
						<td></td>
					}
					<td><a href="@ingredient.Ingredient.Url">@ingredient.Ingredient.Name</a></td>
				</tr>
			}
		</table>
	}
	<h2>Zubereitung</h2>
    @foreach(var component in Model.Components)
    {
		<h3>@component.Title</h3>
		<div>@component.Preparation</div>
	}
    <button type="button" onclick="ko.applyBindings(new RecipeViewModel());$(this).parent().remove();ShowRecipeEditor();">bearbeiten</button>
</div>
<form action="#" id="RecipeEditor" data-bind="with: data" style="display: none;">
    <h1 data-bind="text: title"></h1>
    <img alt="recipe" data-bind="attr: {src: image.src}" />
    <div>Foto von <span data-bind="text: image.author"></span></div>
    Kategorien:
    <ul data-bind="foreach: categories">
        <li data-bind="text: $data"></li>
    </ul>
    <h2>Zutaten</h2>
    <!-- ko foreach: components -->
    <h3 data-bind="text: title"></h3>
    <button type="button" class="edit">
        <img alt="list-remove" src="~/Content/icons/tango/16x16/actions/list-remove.png" />
    </button>
    <table data-bind="foreach: ingredients">
        <tr>
            <!-- ko if: quantity -->
            <td data-bind="text:quantity().amount"></td>
            <td data-bind="text:quantity().unit"></td>
            <!-- /ko -->
            <!-- ko ifnot: quantity -->
            <td></td>
            <td></td>
            <!-- /ko -->
            <td><a data-bind="text:ingredient().name, attr: {href: ingredient().url}"></a></td>
        </tr>
    </table>
    <!-- /ko -->
    <button type="button" class="edit">
        <img alt="list-add" src="~/Content/icons/tango/16x16/actions/list-add.png" />
    </button>
    <h2>Zubereitung</h2>
    <!-- ko foreach: components -->
    <h3 data-bind="text: title"></h3>
    <div class="contentEditableToolbar edit">
        <button type="button" data-bind="event: { click: onFormatBold }">
            <img src="~/Content/icons/tango/22x22/actions/format-text-bold.png" /></button>
        <button type="button" data-bind="event: { click: onFormatItalic }">
            <img src="~/Content/icons/tango/22x22/actions/format-text-italic.png" /></button>
        <button type="button" data-bind="event: { click: onUndo }">
            <img src="~/Content/icons/tango/22x22/actions/edit-undo.png" /></button>
        <button type="button" data-bind="event: { click: onRedo }">
            <img src="~/Content/icons/tango/22x22/actions/edit-redo.png" /></button>
    </div>
    <div contenteditable="true" data-bind="html: preparation, event: {change: onUpdatePreparation}">
    </div>
    <!-- /ko -->
    <button type="button" class="edit" onclick="HideRecipeEditor();">vorschau</button>
    <button type="button" class="preview" onclick="ShowRecipeEditor();">bearbeiten</button>
</form>
<script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/recipe")"></script>
